<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.diagnostics>
        <trace autoflush="false" />
    </system.diagnostics>
    <system.serviceModel>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            minFreeMemoryPercentageToActivateService="5" />
        <client>
            <metadata>
                <policyImporters>
                    <extension type="NewType" />
                </policyImporters>
            </metadata>
        </client>
        <diagnostics wmiProviderEnabled="false" performanceCounters="Default" />
    </system.serviceModel>
</configuration>